[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/elconway
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/elconway
	label-Verified = -1..+1 group user/elconway
	push = group user/elconway
	read = group user/elconway
	rebase = group user/elconway
	removeReviewer = group user/elconway
	submit = group user/elconway
[access "refs/heads/*"]
	create = group user/elconway
	push = +force group user/elconway
	pushMerge = group user/elconway
	read = group user/elconway
[access "refs/tags/*"]
	push = group user/elconway
	push = +force group user/elconway
